body {
    background-image: url(mywebsitephoto1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}
#wordpress {
    display: flex;
    align-self: flex-end;
    size: 50px;
}
h1 {
    color: white;
}
h2 {
    color: white;
}