* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(mywebsitephoto1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
h1 {
    color: white;
}
h2 {
    color: white;
}